@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;

}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fffcf6;
  position: relative;
  opacity: 1;
  cursor: none !important;
  z-index: -99;
}

section {
  padding-bottom: 100px;
  background-color: #fffcf6;
}

a {
  cursor: none !important;
  text-decoration: none;
}

.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  cursor: none;
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #8f8f8f;
  z-index: 1001;

  is-active-cursor {
    cursor: none;
  }
}

.follower {
  width: 40px;
  height: 40px;
  background-color: #cdcdcd;
  opacity: 0.6;
  z-index: 1000;
}

.mask {
  position: relative;
  width: 100%;
  height: 72px;
  background-color: #3a3a3a;
  margin: 0 auto;
  z-index: 4;

  h1 {
    padding-left: 20vw;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #a28d69;
    line-height: 72px;
    letter-spacing: .2em;
  }
}



h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .2em;
}


.area {
  display: none;
  opacity: 0;

}

.is-active {
  display: block;
  animation-name: displayAnime;
  animation-duration: .7s;
  animation-fill-mode: forwards;

}

#vanta {
  width: 100%;
  height: 400px;
}

.slime {
  position: absolute;
  z-index: -2;
  margin-top: 36px;
  left: 10vw;
  background: rgb(255, 243, 210);
  display: inline-block;
  padding: 6rem 10rem;
  border-radius: 50%;
}

/*  文字パラパラアニメーション   */
.eachTextAnime span {
  opacity: 0;
}

.eachTextAnime.appeartext span {
  animation: text_anime_on 1s ease-out forwards;
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* skillsアニメーション */
.blur {
  animation-name: blurAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }

  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

.blurTrigger {
  opacity: 0;
}

/* タブ切り替えアニメーション */
@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ローディング画面 */
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  background-color: rgb(255, 236, 196);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.container {
  width: 66%;
  margin: 0 auto;
}

header {
  position: relative;
  background-color: #fffcf6;
  .header-bar {
    position: fixed;
    z-index:5;
    width: 100%;
    opacity: .9;
  }

  .header-bar-inner {
    display: flex;
    gap: 15vw;
    background-color: #fffcf6;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
  }

  #header-title {
    color: black;
  }

  .label-container {
    right: 0;
  }

  nav {
    font-weight: lighter;
    font-size: 24px;
    display: inline-block;
    right: 0;
    top: 0;
    line-height: 70px;
  }

  h2 {
    position: relative;
    margin: 0;
    padding-left: 50px;
    bottom: 0px;
    left: 50px;

  }

  .container {
    padding: 200px 100px 200px 0;
  }

  .checkBtn {
    display: none;
  }

  label {
    margin-left: 3rem;
    position: relative;
    font-size: 1.8vw;
    font-weight: bold;
    color: #a28d69;
    letter-spacing: .2em;
    z-index: 99;
  }

  label::before {
    background: #a28d69;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
  }

  label:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

}

.is-show {
  top: 0;
}

#net {
  margin: 0 auto;
  z-index: 3;
  width: 100%;
  height: 100%;
}

#about {
  .scroll-down {
    position: fixed;
    left: 50px;
    bottom: 10px;
    height: 50px;
    span {
      position: absolute;
      left: -15px;
      top: -30px;
      color: #3E4550;
      font-size: 12px;
      letter-spacing: 0.05em;
      writing-mode: vertical-lr;
    }
    span::after {
      content: "";
      position: absolute;
      padding-top: 4rem;
      width: 1px;
      height: 30px;
      background: #3E4550;
      animation: pathmove 1.5s ease-in-out infinite;
      opacity: 0;
    }
  }
  @keyframes pathmove {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
  }
  
  30% {
      height: 30px;
      opacity: 1;
  }
  100% {
      height: 0;
      top: 50px;
      opacity: 0;
  }
  }


  .about-text {
    margin-top: 72px;
    line-height: 2rem;
  }

  .about-profile {
    display: flex;
    flex-direction: row;
    margin-top: 60px;

    img {
      opacity: .7;
      border-radius: 16px;
    }

    dl {
      margin-left: 30px;
      line-height: 32px;

      dt {
        float: left;
        width: 25%;
        font-weight: bold;
      }

      dd {
        float: right;
        width: 75%;
      }
    }

    .slime {
      width: 150px;
      height: 150px;
      left: auto;
    }
  }
}

#skill {
  height: 800px;
  padding-bottom: 0 !important;
  .skill-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
  
  .skill-block {
    width: 40%;
    padding-top: 3rem;
    display: flex;
    img {
      width:10%;
      height: 100%;
    }

    .skill-block-imgs {
      display: flex;
      flex-direction: column;
      width:18%;
      img {
        width: 100%;
      }
    }
    .skill-text {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      h2 {
        font-weight: bold;
        font-size: 1.5rem;
       
      }
      h2::before {
          content: "";
          position: absolute;
          padding-top: 4rem;
          width: 1px;
          height: 30px;
          background: #3E4550;
          animation: pathmove 1.5s ease-in-out infinite;
          opacity: 0;
        
      }
      p {
        margin-top: 1rem;
        font-weight: lighter;
      }
    }
  }
  }
  }



#works {
  position: relative;
  z-index: 3;
  .container {
    width: 95%;
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    margin-top: 16vh;

    .works-index {
      position: absolute;
      width: fit-content;
      margin-bottom: 50px;
      top: -8vh;
      &.overflow-hidden {
        overflow: hidden;
      }
    }
    h3 {
      span {
        will-change: transform;
        font-weight: bold;
        font-size: 30px;
        display: inline-block;
      }
    }
    .line {
      width: 100%;
      display: block;
      border: 0.5px solid #0c1c24;
    
      @keyframes expandRight {
        from {
          width: 100%;
        }
        to {
          width: 95vw;
        }
      }
    }
    .animate {
      animation: expandRight 3s forwards;
    }

    li {
      width: 40vw;
      height: auto;
      position: relative;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
      margin: 2em auto;
      background-color: #e1e1e1;
      padding: 2em;
      border-radius: 8px;
      border: 2px solid #b5b5b5;

      .box-title {
        background-color: #fff;
        font-size: 1em;
        font-weight: 800;
        color: #666;
        padding: 0 5px;
        line-height: 1;
        position: absolute;
        top: -5px;
        left: 20px;
      }
      a{
        img {
          border-radius: 10px;
          transition-duration: .3s;
          height: 90%;
        }
      }
    }

    .works-mask {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .works-list:nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
    }

    .works-list:nth-child(odd) {
      display: flex;
    }

    .mask-caption {
      text-align: center;
      padding-top: 80px;
      color: #fff;
    }

    :hover .works-mask {
      opacity: 1;
    }
  }
}



footer {
  position: relative;
  z-index: 3;
  background-color: #3a3a3a;
  width: 100%;
  margin: 0 auto 60px auto;

  nav {
    padding-bottom: 60px;
  }

  #label-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;

    .checkBtn {
      display: none;
    }

    label {
      margin: 24px;
      gap: 24px;
      font-size: 1.8vw;
      font-weight: bold;
      color: #a28d69;
      letter-spacing: .2em;
      position: relative;
    }

    label::before {
      background: #a28d69;
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: auto;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: transform .3s;
    }

    label:hover::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}

small {
  font-size: 10px;
  padding-left: 100px;
  color: #a28d69;
}

// 666px
// 666px
// 666px
// 666px
@media screen and (max-width: 666px) {
  .container {
    width: 80%;
  }
  .scroll-down {
    position: absolute;
    left: 20px;
    bottom: 80px;
    height: 50px;
  }
  header {
    #header-title {
      height: 60px;
      display: block;
      padding-left: 10px;
      width: 30%;
      line-height: 18px;
      left: 0;
      margin: 0 0 24px 24px;
    }

    .header-bar-inner {
      width: 100%;
      display: block;
    }

    nav {
      border-bottom: 1px solid #cccccc;
      width: 100%;
      line-height: 35px !important;
      

      #label-container {
        label {
          border-top: 1px solid #cccccc;
          margin: 0;
          position: relative;
          float: left;
          width: 50%;
          border-left: 1px solid rgb(157, 157, 157);
          text-align: center;

          a {
            width: 100%;
            padding: 10px 0;
          }
        }
      }
    }
  }

  #about {
    .container {
      .about-profile {
        .slime {
          left: 60%;
          right: 0;
        }
      }
    }
  }

  #skill {
    .container {
      width: 90%;
      .container-middle {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        .slime {
          margin-top: -38px;
        padding: 54px;
        }
      }
      .skill-part {
        margin: 0 auto;
        width: 90%;
        p{
          padding: 32px 24px 0 14px;
        }
      }
    }
  }

  #works {
    position: relative;
    z-index: 3;
    .works-list {
      flex-direction: column;
    }
    ul {
      li {
        width: 80%;
        
      }
    }
  }

  footer {
    position: relative;
    z-index: 3;
    nav{
      #label-container {
        justify-content: center;
        margin: 3%;
        label {
          gap: 24px;
          font-size: 4vw;
          font-weight: bold;
          color: #a28d69;
          letter-spacing: 0.2em;
          position: relative;
        }
      }
    }
  }
}

// 666px
// 666px
// 666px
// 666px
@media screen and (min-width: 100px) and (max-width: 665px){
  .container {
    width: 100%;
  }

  .mask {
    h1 {
      padding-left: 5vw;
    }
  }
  .scroll-down {
    position: absolute;
    left: 20px !important;
    bottom: 80px !important;
    height: 50px !important;
  }
  header {


    .header-bar-inner {
      width: 100%;
      display: block;
      h2 {
        font-size:18px;
        line-height: 26px;
      }
      #header-title {
        display: block;
        width: 100%;
        height: 60px;
        margin: 0 0 8px 8px !important;
        padding: 8px 0 8px 0;
        padding-left: 10px;
        line-height: 18px;
        left: 0;
      }
    }

    nav {
      border-bottom: 1px solid #cccccc;
      width: 100%;
      line-height: 35px !important;

      #label-container {
        label {
          border-top: 1px solid #cccccc;
          margin: 0;
          position: relative;
          float: left;
          width: 50%;
          border-left: 1px solid rgb(157, 157, 157);
          text-align: center;
          font-size: 14px;
          font-weight: lighter;

          a {
            width: 100%;
            padding: 10px 0;
          }
        }
      }
    }
  }

  #about {
    .slime {
      margin: 48px 0 0 0;
      left: 0;
    }
    .about-text {
      line-height: 2rem;
      width: 85%;
      margin: 48px auto;
    }
    .about-profile {
      flex-direction: column;
      dl{
      margin: 24px 0 0 0;
      border-bottom: 1px solid #d9d9d9;
      dt {
        width: 100%;
        display: inline-block;
        text-align: center;
        border-top: 1px solid #d9d9d9;
        padding-top: 8px;
      }
      dd {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 18px;
      }
      }
      img {
        margin: 0 auto;
      }
      .slime {
        margin: 24px 0 0 0;
        padding: 0;
        right: 20px;
      }
    }
  }
  #skill {
    height: auto !important;
    .skill-items {
      flex-direction: column;
      .skill-block {
        width: 90%;
        img {
          width: 15% !important;
        }
      }
      .skill-block-imgs {
        width: 33% !important;
        padding-bottom: 4rem !important;
        img {
          width: 100% !important;
        }
      }
    }
  }

  #works {
    position: relative;
    z-index: 3;
    .works-list {
      flex-direction: column;
      z-index: 2;
    }
  }

  footer {
    position: relative;
    z-index: 3;
    nav{
      #label-container {
        justify-content: center;
        margin: 0 8px 0 8px;
        label {
          margin: 3%;
          gap: 24px;
          font-size: 4vw;
          font-weight: bold;
          color: #a28d69;
          letter-spacing: 0.2em;
          position: relative;
        }
      }
    }
  }
}
