@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fffcf6;
  position: relative;
  opacity: 1;
  cursor: none !important;
}

a {
  cursor: none !important;
  text-decoration: none;
}

.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  cursor: none;
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #8f8f8f;
  z-index: 1001;
}
.cursor is-active-cursor {
  cursor: none;
}

.follower {
  width: 40px;
  height: 40px;
  background-color: #cdcdcd;
  opacity: 0.6;
  z-index: 1000;
}

.mask {
  width: 100vw;
  height: 54px;
  background-color: #3a3a3a;
  margin: 0 auto;
}

h1 {
  padding-left: 20vw;
  display: inline-block;
  font-size: 1.8vw;
  font-weight: bold;
  color: #a28d69;
  line-height: 54px;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 1.8vw;
  font-weight: bold;
  color: #a28d69;
  letter-spacing: 0.2em;
}

.area {
  display: none;
  opacity: 0;
}

.is-active {
  display: block;
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#vanta {
  z-index: -1;
  width: 100%;
  height: 400px;
}

/*  文字パラパラアニメーション   */
.eachTextAnime span {
  opacity: 0;
}

.eachTextAnime.appeartext span {
  -webkit-animation: text_anime_on 1s ease-out forwards;
          animation: text_anime_on 1s ease-out forwards;
}

@-webkit-keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* タブ切り替えアニメーション */
@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ローディング画面 */
#loading {
  position: absolute;
  width: 100%;
  height: 100vw;
  transition: all 1s;
  background-color: rgb(255, 236, 196);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
          animation: sk-scaleout 1s infinite ease-in-out;
}

/* ローディングアニメーション */
@-webkit-keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.container {
  width: 66%;
  margin: 0 auto;
}

header {
  position: relative;
  padding: 0 0 50px 0;
}
header .header-bar-inner {
  display: flex;
  gap: 15vw;
  position: relative;
  background: #fff transparent;
  border-radius: 6px;
  margin: 0 auto;
}
header #header-title {
  color: black;
}
header .label-container {
  right: 0;
}
header nav {
  padding-top: 50px;
  font-weight: lighter;
  font-size: 24px;
  display: inline-block;
  right: 0;
  top: 0;
}
header h2 {
  position: relative;
  margin: 0;
  padding-left: 50px;
  margin-top: 50px;
  bottom: 0px;
  left: 50px;
}
header .container {
  padding: 200px 100px 200px 0;
}
header .checkBtn {
  display: none;
}
header label {
  margin-left: 3rem;
  position: relative;
  font-size: 1.8vw;
  font-weight: bold;
  color: #a28d69;
  letter-spacing: 0.2em;
  z-index: 99;
}
header label::before {
  background: #a28d69;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
header label:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

#about .about-profile {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
#about .about-profile dl {
  margin-left: 30px;
  line-height: 32px;
}
#about .about-profile dl dt {
  float: left;
  width: 25%;
  font-weight: bold;
}
#about .about-profile dl dd {
  float: right;
  width: 75%;
}

#skill h2 {
  margin-bottom: 36px;
}
#skill .skill-part {
  background-color: #fff;
  padding: 30px 8px 30px 8px;
  width: 30%;
  background-image: linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px), linear-gradient(to bottom, #000, #000 3px, transparent 3px, transparent 8px), linear-gradient(to left, #000, #000 3px, transparent 3px, transparent 8px), linear-gradient(to top, #000, #000 3px, transparent 3px, transparent 8px);
  background-size: 8px 2px, 2px 8px, 8px 2px, 2px 8px;
  background-position: left top, right top, right bottom, left bottom;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
}
#skill .skill-part strong {
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid;
}

.skill-main {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  gap: 36px;
}

#works ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
}
#works ul li {
  width: 40%;
  height: auto;
  position: relative;
  margin: 2em auto; /* ボックスの余白 */
  background-color: #fff; /* ボックス背景色 */
  padding: 2em; /* ボックス内側余白 */
  border: 2px solid #666; /* ボックスの線 (太さ　種類　色)*/
}
#works ul li .box-title {
  background-color: #fff; /* タイトル背景色 */
  font-size: 1em; /* タイトル文字の大きさ */
  font-weight: 800;
  color: #666; /* タイトル文字色 */
  padding: 0 5px; /*タイトルの余白*/
  line-height: 1; /*タイトルの行の高さ*/
  position: absolute; /* 配置(ここを動かす) */
  top: -5px; /*上から（-5px）移動*/
  left: 20px; /*左から(20px)移動*/
}
#works ul .works-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
#works ul .mask-caption {
  text-align: center;
  padding-top: 80px;
  color: #fff;
}
#works ul :hover .works-mask {
  opacity: 1;
}

footer {
  background-color: #3a3a3a;
  width: 100%;
  margin: 100px auto 60px auto;
}
footer nav {
  padding-bottom: 60px;
}
footer #label-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 200px;
}
footer #label-container .checkBtn {
  display: none;
}
footer #label-container label {
  margin: 24px;
  gap: 24px;
  font-size: 1.8vw;
  font-weight: bold;
  color: #a28d69;
  letter-spacing: 0.2em;
  position: relative;
}
footer #label-container label::before {
  background: #a28d69;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
footer #label-container label:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

small {
  font-size: 10px;
  padding-left: 100px;
  color: #a28d69;
}

@media screen and (max-width: 768px) {
  header .header-bar-inner {
    width: 100%;
  }
  header nav {
    width: 100%;
    top: 127px;
  }
  header nav #label-container label {
    margin: 0;
    position: relative;
    float: left;
    width: 50%;
    border-left: 1px solid rgb(157, 157, 157);
    text-align: center;
  }
  header nav #label-container label a {
    width: 100%;
    padding: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */