@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fffcf6;
  position: relative;
  opacity: 1;
  cursor: none !important;
  z-index: -99;
}

section {
  padding-bottom: 100px;
  background-color: #fffcf6;
}

a {
  cursor: none !important;
  text-decoration: none;
}

.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  cursor: none;
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #8f8f8f;
  z-index: 1001;
}
.cursor is-active-cursor {
  cursor: none;
}

.follower {
  width: 40px;
  height: 40px;
  background-color: #cdcdcd;
  opacity: 0.6;
  z-index: 1000;
}

.mask {
  position: relative;
  width: 100%;
  height: 72px;
  background-color: #3a3a3a;
  margin: 0 auto;
  z-index: 4;
}
.mask h1 {
  padding-left: 20vw;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  color: #a28d69;
  line-height: 72px;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.area {
  display: none;
  opacity: 0;
}

.is-active {
  display: block;
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#vanta {
  width: 100%;
  height: 400px;
}

.slime {
  position: absolute;
  z-index: -2;
  margin-top: 36px;
  left: 10vw;
  background: rgb(255, 243, 210);
  display: inline-block;
  padding: 6rem 10rem;
  border-radius: 50%;
}

/*  文字パラパラアニメーション   */
.eachTextAnime span {
  opacity: 0;
}

.eachTextAnime.appeartext span {
  -webkit-animation: text_anime_on 1s ease-out forwards;
          animation: text_anime_on 1s ease-out forwards;
}

@-webkit-keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* skillsアニメーション */
.blur {
  -webkit-animation-name: blurAnime;
          animation-name: blurAnime;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}
.blurTrigger {
  opacity: 0;
}

/* タブ切り替えアニメーション */
@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ローディング画面 */
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  background-color: rgb(255, 236, 196);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
          animation: sk-scaleout 1s infinite ease-in-out;
}

/* ローディングアニメーション */
@-webkit-keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.container {
  width: 66%;
  margin: 0 auto;
}

header {
  position: relative;
  background-color: #fffcf6;
}
header .header-bar {
  position: fixed;
  z-index: 5;
  width: 100%;
  opacity: 0.9;
}
header .header-bar-inner {
  display: flex;
  gap: 15vw;
  background-color: #fffcf6;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
}
header #header-title {
  color: black;
}
header .label-container {
  right: 0;
}
header nav {
  font-weight: lighter;
  font-size: 24px;
  display: inline-block;
  right: 0;
  top: 0;
  line-height: 70px;
}
header h2 {
  position: relative;
  margin: 0;
  padding-left: 50px;
  bottom: 0px;
  left: 50px;
}
header .container {
  padding: 200px 100px 200px 0;
}
header .checkBtn {
  display: none;
}
header label {
  margin-left: 3rem;
  position: relative;
  font-size: 1.8vw;
  font-weight: bold;
  color: #a28d69;
  letter-spacing: 0.2em;
  z-index: 99;
}
header label::before {
  background: #a28d69;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
header label:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.is-show {
  top: 0;
}

#net {
  margin: 0 auto;
  z-index: 3;
  width: 100%;
  height: 100%;
}

#about .scroll-down {
  position: fixed;
  left: 50px;
  bottom: 10px;
  height: 50px;
}
#about .scroll-down span {
  position: absolute;
  left: -15px;
  top: -30px;
  color: #3E4550;
  font-size: 12px;
  letter-spacing: 0.05em;
  writing-mode: vertical-lr;
}
#about .scroll-down span::after {
  content: "";
  position: absolute;
  padding-top: 4rem;
  width: 1px;
  height: 30px;
  background: #3E4550;
  -webkit-animation: pathmove 1.5s ease-in-out infinite;
          animation: pathmove 1.5s ease-in-out infinite;
  opacity: 0;
}
@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
#about .about-text {
  margin-top: 72px;
  line-height: 2rem;
}
#about .about-profile {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
#about .about-profile img {
  opacity: 0.7;
  border-radius: 16px;
}
#about .about-profile dl {
  margin-left: 30px;
  line-height: 32px;
}
#about .about-profile dl dt {
  float: left;
  width: 25%;
  font-weight: bold;
}
#about .about-profile dl dd {
  float: right;
  width: 75%;
}
#about .about-profile .slime {
  width: 150px;
  height: 150px;
  left: auto;
}

#skill {
  height: 800px;
  padding-bottom: 0 !important;
}
#skill .skill-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
#skill .skill-items .skill-block {
  width: 40%;
  padding-top: 3rem;
  display: flex;
}
#skill .skill-items .skill-block img {
  width: 10%;
  height: 100%;
}
#skill .skill-items .skill-block .skill-block-imgs {
  display: flex;
  flex-direction: column;
  width: 18%;
}
#skill .skill-items .skill-block .skill-block-imgs img {
  width: 100%;
}
#skill .skill-items .skill-block .skill-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
#skill .skill-items .skill-block .skill-text h2 {
  font-weight: bold;
  font-size: 1.5rem;
}
#skill .skill-items .skill-block .skill-text h2::before {
  content: "";
  position: absolute;
  padding-top: 4rem;
  width: 1px;
  height: 30px;
  background: #3E4550;
  -webkit-animation: pathmove 1.5s ease-in-out infinite;
          animation: pathmove 1.5s ease-in-out infinite;
  opacity: 0;
}
#skill .skill-items .skill-block .skill-text p {
  margin-top: 1rem;
  font-weight: lighter;
}

#works {
  position: relative;
  z-index: 3;
}
#works .container {
  width: 95%;
}
#works ul {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin-top: 16vh;
}
#works ul .works-index {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
  top: -8vh;
}
#works ul .works-index.overflow-hidden {
  overflow: hidden;
}
#works ul h3 span {
  will-change: transform;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
}
#works ul .line {
  width: 100%;
  display: block;
  border: 0.5px solid #0c1c24;
}
@-webkit-keyframes expandRight {
  from {
    width: 100%;
  }
  to {
    width: 95vw;
  }
}
@keyframes expandRight {
  from {
    width: 100%;
  }
  to {
    width: 95vw;
  }
}
#works ul .animate {
  -webkit-animation: expandRight 3s forwards;
          animation: expandRight 3s forwards;
}
#works ul li {
  width: 40vw;
  height: auto;
  position: relative;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
  margin: 2em auto;
  background-color: #e1e1e1;
  padding: 2em;
  border-radius: 8px;
  border: 2px solid #b5b5b5;
}
#works ul li .box-title {
  background-color: #fff;
  font-size: 1em;
  font-weight: 800;
  color: #666;
  padding: 0 5px;
  line-height: 1;
  position: absolute;
  top: -5px;
  left: 20px;
}
#works ul li a img {
  border-radius: 10px;
  transition-duration: 0.3s;
  height: 90%;
}
#works ul .works-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
#works ul .works-list:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
#works ul .works-list:nth-child(odd) {
  display: flex;
}
#works ul .mask-caption {
  text-align: center;
  padding-top: 80px;
  color: #fff;
}
#works ul :hover .works-mask {
  opacity: 1;
}

footer {
  position: relative;
  z-index: 3;
  background-color: #3a3a3a;
  width: 100%;
  margin: 0 auto 60px auto;
}
footer nav {
  padding-bottom: 60px;
}
footer #label-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 200px;
}
footer #label-container .checkBtn {
  display: none;
}
footer #label-container label {
  margin: 24px;
  gap: 24px;
  font-size: 1.8vw;
  font-weight: bold;
  color: #a28d69;
  letter-spacing: 0.2em;
  position: relative;
}
footer #label-container label::before {
  background: #a28d69;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
footer #label-container label:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

small {
  font-size: 10px;
  padding-left: 100px;
  color: #a28d69;
}

@media screen and (max-width: 666px) {
  .container {
    width: 80%;
  }
  .scroll-down {
    position: absolute;
    left: 20px;
    bottom: 80px;
    height: 50px;
  }
  header #header-title {
    height: 60px;
    display: block;
    padding-left: 10px;
    width: 30%;
    line-height: 18px;
    left: 0;
    margin: 0 0 24px 24px;
  }
  header .header-bar-inner {
    width: 100%;
    display: block;
  }
  header nav {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    line-height: 35px !important;
  }
  header nav #label-container label {
    border-top: 1px solid #cccccc;
    margin: 0;
    position: relative;
    float: left;
    width: 50%;
    border-left: 1px solid rgb(157, 157, 157);
    text-align: center;
  }
  header nav #label-container label a {
    width: 100%;
    padding: 10px 0;
  }
  #about .container .about-profile .slime {
    left: 60%;
    right: 0;
  }
  #skill .container {
    width: 90%;
  }
  #skill .container .container-middle {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  #skill .container .container-middle .slime {
    margin-top: -38px;
    padding: 54px;
  }
  #skill .container .skill-part {
    margin: 0 auto;
    width: 90%;
  }
  #skill .container .skill-part p {
    padding: 32px 24px 0 14px;
  }
  #works {
    position: relative;
    z-index: 3;
  }
  #works .works-list {
    flex-direction: column;
  }
  #works ul li {
    width: 80%;
  }
  footer {
    position: relative;
    z-index: 3;
  }
  footer nav #label-container {
    justify-content: center;
    margin: 3%;
  }
  footer nav #label-container label {
    gap: 24px;
    font-size: 4vw;
    font-weight: bold;
    color: #a28d69;
    letter-spacing: 0.2em;
    position: relative;
  }
}
@media screen and (min-width: 100px) and (max-width: 665px) {
  .container {
    width: 100%;
  }
  .mask h1 {
    padding-left: 5vw;
  }
  .scroll-down {
    position: absolute;
    left: 20px !important;
    bottom: 80px !important;
    height: 50px !important;
  }
  header .header-bar-inner {
    width: 100%;
    display: block;
  }
  header .header-bar-inner h2 {
    font-size: 18px;
    line-height: 26px;
  }
  header .header-bar-inner #header-title {
    display: block;
    width: 100%;
    height: 60px;
    margin: 0 0 8px 8px !important;
    padding: 8px 0 8px 0;
    padding-left: 10px;
    line-height: 18px;
    left: 0;
  }
  header nav {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    line-height: 35px !important;
  }
  header nav #label-container label {
    border-top: 1px solid #cccccc;
    margin: 0;
    position: relative;
    float: left;
    width: 50%;
    border-left: 1px solid rgb(157, 157, 157);
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
  }
  header nav #label-container label a {
    width: 100%;
    padding: 10px 0;
  }
  #about .slime {
    margin: 48px 0 0 0;
    left: 0;
  }
  #about .about-text {
    line-height: 2rem;
    width: 85%;
    margin: 48px auto;
  }
  #about .about-profile {
    flex-direction: column;
  }
  #about .about-profile dl {
    margin: 24px 0 0 0;
    border-bottom: 1px solid #d9d9d9;
  }
  #about .about-profile dl dt {
    width: 100%;
    display: inline-block;
    text-align: center;
    border-top: 1px solid #d9d9d9;
    padding-top: 8px;
  }
  #about .about-profile dl dd {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 18px;
  }
  #about .about-profile img {
    margin: 0 auto;
  }
  #about .about-profile .slime {
    margin: 24px 0 0 0;
    padding: 0;
    right: 20px;
  }
  #skill {
    height: auto !important;
  }
  #skill .skill-items {
    flex-direction: column;
  }
  #skill .skill-items .skill-block {
    width: 90%;
  }
  #skill .skill-items .skill-block img {
    width: 15% !important;
  }
  #skill .skill-items .skill-block-imgs {
    width: 33% !important;
    padding-bottom: 4rem !important;
  }
  #skill .skill-items .skill-block-imgs img {
    width: 100% !important;
  }
  #works {
    position: relative;
    z-index: 3;
  }
  #works .works-list {
    flex-direction: column;
    z-index: 2;
  }
  footer {
    position: relative;
    z-index: 3;
  }
  footer nav #label-container {
    justify-content: center;
    margin: 0 8px 0 8px;
  }
  footer nav #label-container label {
    margin: 3%;
    gap: 24px;
    font-size: 4vw;
    font-weight: bold;
    color: #a28d69;
    letter-spacing: 0.2em;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */